extends /layout-forms

block beforehtml
  - const title = '數位名片'

block meta
  meta(property="fb:app_id", content="2133031763635285")
  meta(property="og:description", content="點此連結來製作自己的數位吧！")
  meta(property="og:image:height", content="640")
  meta(property="og:image:width", content="1280")
  meta(property="og:image", content="https://scdn.line-apps.com/n/channel_devcenter/img/fx/01_1_cafe.png")
  meta(property="og:locale", content="zh_TW")
  meta(property="og:site_name", content="筆記國度")
  meta(property="og:title", content=title)
  meta(property="og:type", content="website")
  meta(property="og:url", content=baseUrl+"forms/example.html")

block form
  .form-group.my-2
    label(for="vcard-title") 頭銜
    input#vcard-title.form-control.form-control-sm(type="text", v-model="vcard.title")
    small#help-label.form-text.text-muted 請填寫頭銜。
  .form-group.my-2
    label(for="vcard-name") 名稱
    input#vcard-name.form-control.form-control-sm(type="text", v-model="vcard.name")
    small#help-label.form-text.text-muted 請填寫名字。
  .form-group.my-2
    label(for="vcard-mobile") 手機
    input#vcard-name.form-control.form-control-sm(type="text", v-model="vcard.mobile")
    small#help-label.form-text.text-muted 請填寫名字。
  .form-group.my-2
    label(for="vcard-email") email
    input#vcard-nso.form-control.form-control-sm(type="url", v-model="vcard.email")
    small#help-label.form-text.text-muted 請填寫 email。

block before-vue
  script.
    window.vueData = {
      vcard: {
        name: '小美',
        email: 'SW-0000-0000-0000',
        template: '#{baseUrl}cards/example.txt',
        title: '幸運的小女孩',
	mobile: '0900-123-456',
      },
    }